<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

   <appSettings>
      <add key="locale" value="1"/>
      <add key="EnableMail" value="1"/>
      <add key="AvailableHttpsProtocol" value="https://"/>
      <add key="DBType" value="jet"/>
      <add key="MailServer" value="smtp.dbates.com;smtp.easystreet.com"/>
      <add key="BadTry" value="0"/>
   </appSettings>
   
</configuration>