a
        {
	font-weight: normal;
	text-decoration: underline;
	color: #063DAE;
	}

a:hover
        {
	color: #C00000;
	}

body
        {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	background-color: #FFFFFF;
        color: #000000; 
	width: 600px;
	margin: 0pt;       
        }          

p
        { 
        font-size: 10pt; 
        margin-left: 10pt;
	margin-right: 15pt;
	margin-top: 5pt;
	margin-bottom: 5pt; 
        }    

h1	{margin: 5pt;margin-left:10pt;color: #000080;}
h2	{margin: 5pt;margin-left:10pt;color: #000080;}
h3	{margin: 5pt;margin-left:10pt;color: #000080;}
h4	{margin: 5pt;margin-left:10pt;color: #000080;}

hr	{width: 95%;}


