
body {
    background-color: #DDDDDD;
    margin:10px 0px;
    padding:0px;
    text-align:center;
    font-size: 15px;
}
li {
    font-size: 1.0em;
    }

h5{
    font-size: 15px;
    font-weight: 900;
    font-family: "Verdana";
    border: 0px 0px 0px 0px;
    border-spacing: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}
 
table.title
{
   border-collapse: collapse;
   border: 0px 0px 0px 0px;
   border-spacing: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   height: 145px;
   vertical-align: bottom;
}

table.body
{
    align: right;
    border: 0px 0px 0px 5px;
    border-spacing: 0px 0px 0px 0px;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px px;
    left: 5px;
    top:80px;
    width: 498px;
    font-size: 13px;
    font-family: 'Arial';
    padding-right: 10px; 
}
a.index
{
    font-size: 13px;
   font-weight: bold;
   font-family: 'Verdana', Verdana, sans-serif;
}
a.custPage
{
   color: black;
   text-align: center;
   border: 0px solid #333333;
   padding: 5px 5px 5px 5px;
   font-size: 15px;
   font-weight: bold;
   font-family: 'Verdana', Verdana, sans-serif;
}
a.custPage:hover
{
   border: 0px solid #000000; 
}
table.directory
{
    width: 100%;
    font-family: 'Arial';
    font-size: 1.0em;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}
table.directory th
{
    border-bottom: 1px solid black;
    border-spacing: -2px 0px -2px 0px;
    margin: -2px 0px -2px 0px;
    padding: -2px 0px -2px 0px;
    text-align:left;
}
table.directory tr
{
    border: -2px 0px -2px 0px;
    border-spacing: -2px 0px -2px 0px;
    margin: -2px 0px -2px 0px;
    padding: -2px 0px -2px 0px;
}
table.directory td
{
    border: -2px 0px -2px 0px;
    border-spacing: -2px 0px -2px 0px;
    margin: -2px 0px -2px 0px;
    padding: -2px 0px -2px 0px;
    font-weight: normal;
}
table.directory td a
{
    font-weight: bold;
}
tr
{
   border: 0px;
   border-spacing: 0px;
   margin: 0px;
   padding: 0px;
}
td{
   vertical-align: bottom;
   border: 0px;
   border-spacing: 0px;
   margin: 0px;
   padding: 0px;
}

img
{
   border: 0px;
   padding:0px 2px 0px 0px;
   margin: 0px 5px 0px 0px;
}
img.title
{
    padding: 0px 0px 0px 0px;
    height: 147px;
    /*width: 200px;*/
    position: relative;
    top: -2px;
}

font.pageTitle{
    font-size: 25px;
    font-weight: 600;
    font-family: "Times New Roman";
    letter-spacing: 1px;
    color: #006390;
    }
a.white{color:white;}
a.white:hover{color: #000000;}
a.white:active{color: #000000;}

a {color: black; text-decoration: none;}
a:hover {color: #006390; text-decoration: none;}
a:active {color: #006390; text-decoration: none;}
/*a:visited {color: #006390; text-decoration: none;}*/
 
.popup{
   position:absolute;
   background-color: #CCCCCC;
   border:1px solid #333;
   z-index:1;
   visibility: hidden;
   text-align: left;
   background-color: #006390;
   color: white;
   font-size: 12px;
   font-family: "Arial";
}

/******************************* MENU ITEMS *******************************/
table.MenuTable
{
   border-collapse: collapse;
   width: inherit;
   left: 0px;
   border: 0px solid purple;
   border-spacing: 0px;
   margin: 0px;
   padding: 0px;
}
div.whiteMenu{
   width:inherit;
   padding: 0px 0px 0px 2px;
   font-size: 0.75em;
   font-weight: bold;
   font-family: "Arial";
   color: #FFFFFF;
   letter-spacing: 0px;
   text-decoration: none
}
a.whiteMenu{
   width:inherit;
   padding: 0px 0px 0px 2px;
   font-size: 0.75em;
   font-weight: bold;
   font-family: "Arial";
   color: #FFFFFF;
   letter-spacing: 0px;
   text-decoration: none;
}
a.whiteMenu:link{color: #FFFFFF;}
a.whiteMenu:visited{color: #FFFFFF;}
a.whiteMenu:hover{color: #FFC735;}
a.whiteMenu:active{color: #FFC735;}
/***************************** END MENU ITEMS *****************************/

/***************************** SUBMENU ITEMS ******************************/
table.subMenuTable
{
   border-collapse: collapse;
   left: 0px;
   width: 100%;
   border: 0px solid green;
   border-spacing: 0px;
   margin: 0px;
   padding: 0px;
}
a.whiteSubMenu{
   padding: 0px 0px 0px 35px;
   /*font-size: 11px;*/
   font-size: 0.70em;
   font-weight: bold;
   font-family: "Arial";
   color: #FFFFFF;
   letter-spacing: 0px;
   text-decoration: none;
}
a.whiteSubMenu:link{color: #FFFFFF;}
a.whiteSubMenu:visited{color: #FFFFFF;}
a.whiteSubMenu:hover{color: #FFC735;}
a.whiteSubMenu:active{color: #FFC735;}
/*************************** END SUBMENU ITEMS ****************************/

a.menuBottom{
   padding: 0px 5px 0px 5px;
   font-size: 10px;
   font-weight: normal;
   font-family: "Arial";
   /*color: #000000;*/
   letter-spacing: 0px;
   text-decoration: none;
}

p{
   border: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   spacing: 0px 0px 0px 0px;
   margin: 10px 0px 10px 0px;
   /*font-size: 12px;*/
   font-size: 1em;
   text-align:justify;
}
p.header{
   border: 0px 0px 0px 0px;
   padding: 10px 0px 0px 0px;
   spacing: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   /*font-size: 12px;*/
   font-size: 0.75em;
   font-weight:bold;
   text-align:left;
}
ul{
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 40px;
   padding-top: 0px;
   padding-bottom: 0px;
   spacing-bottom: 0px;
   spacing-top: 0px;
   padding-left: 0px;
   padding-right: 4px;
   list-style-position: outside;
   /*list-style-image: url(arrow.gif);*/
   list-style-type: ring;
   border: 0px solid #FF00FF;
   /*font-size: 12px;*/
   font-size: 0.9em;
   font-family: 'Arial';
}


div.topBar
{
    border-top: 1px #006390 solid;
    border-bottom: 2px #006390 solid;
    top: 0px;
    left: 0px;
    padding: 0px;
    width: 100%;
    height: 40px;
    vertical-align: center;
}
input.searchText
{
    background-color: #000000;
    color: #FFFFFF;
    padding: 1px 2px 1px 2px;
    spacing: 0px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
    height: 20px;
    width: 150px;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    font-family: 'Arial';
}
input.searchButton
{
    background-color: #006390;    
   border: 0px solid #FFFFFF;
   padding: 1px 1px 1px 1px;
   spacing: 0px 0px 0px 0px;
   margin: 5px 15px 5px 0px;
   height: 20px;
   font-size: 11px;
   font-weight: bold;
   font-family: "Arial";
   color: #FFFFFF;
   letter-spacing: 0px;
   text-decoration: none;
   vertical-align: center;
}

input.date
{
   size: 20;
   border: 0px none #FFFFFF;
   border-style: none;
   padding: 1px 1px 1px 1px;
   spacing: 0px 0px 0px 0px;
   margin: 11px 15px 9px 0px;
   height: 17px;
   font-size: 11px;
   font-weight: bold;
   font-family: "Arial";
   color: #000000;
   letter-spacing: 0px;
   text-decoration: none;
   vertical-align: center;
}
    