body
{
    background-color: white ;
    font-family: tahoma, verdana, sans-serif ;    
    color: #666 ;
    padding: 0px 30px 30px 30px ;
    margin: 0 ;
}

h1, h2
{
    font-family: georgia, "times new roman", times, serif ;
    font-weight: normal ;
    color: #000 ;   
    margin-top: 30px ;
}

h2
{
	margin-left: 40px ;
}

p
{
    margin: 20px 0 20px 40px ;
    font-size: 13px ;
}

span.code 
{
    font-family: 'andale mono', 'lucida sans typewriter', 'monaco', monospace ;
    font-weight: bold ;
    color: #006 ;
}
